@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

body {
  padding-top: 56px;
  font-family: 'Sarabun', sans-serif;
}
.portfolio-item {
  margin-bottom: 30px;
}
.portfolio-image {
  height: 300px;
}